body {
    background-color: var(--background-color);
}

a {
    text-decoration: none;
}

:root {
  --background-color: rgb(30, 30, 30);
  --white-text: #ffffff;
  --gray-border: rgb(54, 54, 54);
}

.default-text {
    color: var(--white-text);
}

/* search container and submit button */

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    margin: 20px auto;
    border: 2px solid var(--gray-border);
    border-radius: 24px;
    overflow: hidden;
}

.search-input {
    flex-grow: 1;
    border: none;
    padding: 9px 14px;
    font-size: 16px;
    outline: none;
    background: transparent;
    color: white;
}

.submit-btn {
    background-color: transparent;
    color: white;
    border: 2px solid var(--gray-border);
    border-top: none;
    border-bottom: none;
    padding: 9px 24px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

/* Radio Button set */

.ch-vid-btn-container {
    display: flex;
    gap: 15px;
    padding: 12px;
}

.change-to-channel-btn input[type='radio'] {
    display: none;
}

.change-to-video-btn input[type='radio'] {
    display: none;
}

.change-to-channel-btn {
    display: block;
    flex: 1;
    cursor: pointer;
}

.change-to-channel-btn {
    display: block;
    flex: 1;
    cursor: pointer;
}

.change-to-video-btn {
    display: block;
    flex: 1;
    cursor: pointer;
}

.radio-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3px;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
}

.radio-content:hover {
    background-color: rgb(146, 146, 146);
    color: rgb(0, 0, 0)
}

.change-to-video-btn input[type="radio"]:checked + .radio-content {
    background-color: rgb(146, 146, 146);
    color: black
}

.change-to-channel-btn input[type="radio"]:checked + .radio-content {
    background-color: rgb(146, 146, 146);
    color: black
}

/* in channel tab buttons */

.tab-container {
    display: flex;
    justify-content: center;
}

.video-tab {
    background: none;
    border: 2px solid var(--gray-border);
    border-top: none;
    border-right: none;
    border-bottom-left-radius: 15px;
    padding: 12px 24px;
    outline: none;
    font: inherit;
    cursor: pointer;
}

.stream-tab {
    background: none;
    border: 2px solid var(--gray-border);
    border-top: none;
    border-left: 2px solid var(--gray-border);
    border-bottom-right-radius: 15px;
    padding: 12px 24px;
    outline: none;
    font: inherit;
    cursor: pointer;
}

.video-tab:hover {
    background: linear-gradient(to top, var(--gray-border), transparent);
    color: black
}

.stream-tab:hover {
    background: linear-gradient(to top, var(--gray-border), transparent);
    color: black
}

/* src result channels */
.ch-src-results {
    margin-left: 50px;
    margin-top: 50px;
}

.channel-container {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.channel-avatar-container {
    margin-bottom: 15px;
    max-width: 500px;
    min-width: 240px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: transparent;
}

.mini-ch-avatar {
    height: 136px;
    width: 136px;
    border-radius: 50%;
    object-fit: cover;
}

.big-ch-avatar {
    height: 176px;
    width: 176px;
    border-radius: 50%;
    object-fit: cover;
}

/* src result videos */
.video-container {
    max-width: 500px;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    margin-bottom: 10px;
}

.video-info-container {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    background-color: transparent;
}

.video-url-thumbnail-container {
    margin-right: 10px;
}

.video-thumbnail {
    border-radius: 15px;
}

.video-src-results {
    margin-top: 50px;
    display: flex;
    flex-direction: column; 
    align-items: center;    
    justify-content: center;
    transform: translateX(-100px);
}

.src-result-video-title {
    margin-top: 10px;
    margin-left: 10px;
}

.src-result-video-date {
    margin-top: 10px;
    margin-left: 10px;
}

.src-result-video-view-count {
    margin-top: 10px;
    margin-left: 10px;
}

/* channel header info */
.ch-page-header {
    margin-bottom: 50px;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ch-page-header-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ch-title {
    justify-content: center;
    flex-direction: row;
    font-size: 20px;
    margin-top: 15px;
}

.ch-custom-url {
    margin-top: 7px;
    margin-bottom: 15px;
    justify-content: center;
    flex-direction: row;
}

.sub-count {
    justify-content: center;
    flex-direction: row;
}

/* channel video info */
.ch-video-grid-container {
    text-align: center; 
    margin-top: 20px;
}

.ch-grid {
    display: inline-block;
    margin-top: 20px;
    border: 2px solid var(--gray-border);
    padding: 13px;
    border-radius: 15px;
    outline-offset: 10px;
}

.video-title {
    max-width: 500px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.video-spacing {
    margin-top: 10px;
}