<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>Home</title>
    </head>

    <body>

        <!-- search bar two radio buttons to change from showing only videos to showing only channels based on what was searched -->
        <form action="{{ url_for('results') }}" method="POST" class="search-container">
            <input type='text' name='search' id="search" class='search-input' placeholder="Pesquisar" required></input>

            <button class='submit-btn' type="submit">
                <span class="submit-btn-icon"><ion-icon name="search-outline"></ion-icon></span>
            </button>

            <div class="ch-vid-btn-container">
                <label class="default-text change-to-channel-btn">
                    <input type="radio" name='change-btn' value="channel-btn">
                    <div class="radio-content">Canais</div>
                </label>
                <label class="default-text change-to-video-btn">
                    <input type='radio' name="change-btn" value="vidoe-btn" checked>
                    <div class="radio-content">Videos</div>
                </label>
            </div>
        </form>
    
        <div class="category-container">
            <a href="{{ url_for('home', cat_id=cat_automoveis) }}" class="default-text first-category-btn">Automóveis</a>
            <a href="{{ url_for('home', cat_id=cat_musica) }}" class="default-text category-btn">Música</a>
            <a href="{{ url_for('home', cat_id=cat_animais) }}" class="default-text category-btn">Animais</a>
            <a href="{{ url_for('home', cat_id=cat_esportes) }}" class="default-text category-btn">Esportes</a>
            <a href="{{ url_for('home', cat_id=cat_jogos) }}" class="default-text category-btn">Jogos</a>
            <a href="{{ url_for('home', cat_id=cat_comedia) }}" class="default-text category-btn">Comédia</a>
            <a href="{{ url_for('home', cat_id=cat_noticias) }}" class="default-text last-category-btn">Notícias e política</a>
        </div>

        <div class="ch-video-grid-container">
            {% for row in video_matrix %}
                <div class="ch-grid">
                    <div class="video-url-thumbnail-container">
                        <!--video hyperlink plus thumbnail-->
                        <a href="http://www.youtube.com/embed/{{ row[0] }}">
                            <img class='video-thumbnail'
                            src="{{ row[1] }}" 
                            title="{{ row[2] }}"
                            alt="{{ row[2] }}"
                            loading="lazy">
                        </a>
                    </div>
                    <div class="video-info-container">
                        <!--search result videos title, date published, and view count-->
                        <a href="http://www.youtube.com/embed/{{ row[0] }}">
                            <div class="default-text video-spacing video-title">{{ row[2] }}</div>
                            <div class="default-text video-spacing video-duration">{{ row[5] }}</div>
                            <div class="default-text video-spacing video-date">{{ row[3] }}</div>
                            <div class="default-text video-spacing video-view-count">{{ row[4] }} visualizações</div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>


        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </body>

</html>